<div id="{{mojit_view_id}}" class="{{ns_class}}">
	{{{topNav}}}
	{{{subNav}}}

	<aside>
		<ul class="map-controls">
			<li class="zip"><input type='text' placeholder="ZIP CODE"></li>
			<li class="date"><input type='text' placeholder="Select a date"></li>
			<li class="time"><select><option>Select a time</option></select></li>
			<li class="duration"><select><option>Duration</option></select></li>
			<li class="roundtrip"><input type='checkbox'></li>
			<li class="clear"><a href="#">Clear</a></li>
		</ul>
	</aside>

	{{{riderMap}}}

	<section class="results">
		<h2>Available Bikes</h2>

		<div class="results-wrap">
			<table>
				<thead>
					<tr>
						<th class="count"></th>
						<th class="bike-id">BIKE ID</th>
						<th class="location">LOCATION</th>
						<th class="trip-type">TRIP TYPE</th>
						<th class="rating">RATING</th>
						<th class="indicator"></th>
					</tr>
				</thead>
			</table>
			{{#bikes}}
			<a href="/rider/bike-profile/{{id}}">
				<table>
					<tr>
						<td class="count">{{id}}</td>
						<td class="bike-id">Bike {{id}}</td>
						<td class="location">Location</td>
						<td class="trip-type">{{trip_type}}</td>
						<td class="rating">* * * *</td>
						<td class="indicator"><img src="/static/bLock_webapp/assets/indicator.png"></td>
					</tr>
				</table>
			</a>
			{{/bikes}}
		</div>
	</section>
</div>
