<div id="{{mojit_view_id}}" class="{{ns_class}}">
	{{{topNav}}}
	{{{subNav}}}

	<aside>
		<ul class="map-controls">
			<li class="zip"><input type='text' placeholder="ZIP CODE"></li>
			<li class="date"><input type='text' placeholder="Select a date"></li>
			<li class="time"><select><option>Select a time</option></select></li>
			<li class="duration"><select><option>Duration</option></select></li>
			<li class="roundtrip"><input type='checkbox'></li>
			<li class="clear"><a href="#">Clear</a></li>
		</ul>
	</aside>

	{{{riderMap}}}

	<section class="results">
		<h2>Available Bikes</h2>

		<div class="results-wrap">
			<table>
				<thead>
					<tr>
						<th></th>
						<th>BIKE ID</th>
						<th>LOCATION</th>
						<th>TRIP TYPE</th>
						<th>RATING</th>
						<th></th>
					</tr>
				</thead>
			</table>
			{{#bikes}}
			<table>
				<tr>
					<td>0</td>
					<td><a href="#">Bike {{id}}</a></td>
					<td>Location</td>
					<td>Rating</td>
					<td>Rating</td>
					<td></td>
				</tr>
			</table>
			{{/bikes}}
		</div>
	</section>
</div>
