.rider {}

.rider.index {}

.rider .top-nav {}


/** index **/
.rider.index .sub-nav {}

.rider.index aside {
	float: left;
	clear: both;
}

.rider.index .map-controls input,
.rider.index .map-controls select {
	color: #5a5a5a;
	background: #151515;
	border: 1px solid #222;
	font-size: 20px;
	padding: 10px;
	margin: 0 0 15px;
}

.rider.index .map-controls select {
	width: 248px;
}

.rider.index .map {
	float: right;
	width: 635px;
	height: 435px;
	border: 12px solid #141414;
	background: black;
}

.rider.index .results {
	clear: both;
}

.rider.index .results h2 {
	font-size: 32px;
	margin: 0 0 30px;
	padding-top: 70px;
}

.rider.index .results .results-wrap {
	background: rgba(0,0,0,.3);
}

.rider.index .results table {
	width: 964px;
	margin: 5px;
}

.rider.index .results table td,
.rider.index .results table th {
	height: 70px;
	text-align: left;
}

.rider.index .results table td {
	background: black url(/static/bLock_webapp/assets/broken_noise.png) repeat;
	line-height: 70px;
}

.rider.index .results table th {

}

.rider.index .results table .count {
	width: 125px;
}

.rider.index .results table .bike-id {
	width: 150px;
}

.rider.index .results table .location {
	width: 289px;
}

.rider.index .results table .trip-type {
	width: 155px;
}

.rider.index .results table .rating {
	width: 205px;
}

.rider.index .results table .indicator {
	width: 40px;
}

/** bike-profile **/
.rider.bike-profile .sub-nav {}


/** bike-reviews **/
.rider.bike-reviews .sub-nav {}
